* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 50px;
  width: 100%;
  box-shadow: 5px 5px 5px #888888;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10px;
  max-width: 1500px;
}

.nav-logo {
  color: black;
  align-items: center;
  margin-right: 200px;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
  margin-left: 200px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 12px;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.register-btn {
  background-color: #865ddd;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 3px;
}

.premium-btn {
  color: #fff;
  background-color: #fca120;
  border: 0;
  border-radius: 3px;
  padding: 3px;
}

.premium{
  margin-right: 200px;
}

.diamond-icon {
  color: #fff;
}

.nav-item:hover:after {
  width: 100%;
  background: #865ddd;
}

/* .btn-one:after{
  background:#fff;
}

.btn-one:hover:after{
  background:#fff;
} */

/* .nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
} */

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-logo {
    margin-right: 100px;
  }

  .nav-menu.active {
    background: #fff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  /* .nav-item .active {
    color: #ffdd40;
    border: none;
  } */
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 10%);
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
}
