*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pol-text{
    text-align: center;
}

.privacy-pol{
    margin-top: 100px;
    color: #865DDD;
}

.pol-p-text{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 80px;
}

.pol-p-text p{
 text-align: left;   
 font-size: 14px;
}

.text-mar{
    margin-top: 20px;
}